@import 'mixin';

.dt-editor {
  position: relative;
  .flexlayout(inline-flex, row, flex-start, flex-start);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 1px solid @borderColor;
  font-size: @baseFontSize;
  font-family: 'Microsoft YaHei', system-ui;
  color: @baseFontColor;
  .hide {
    display: none !important;
  }
  &.is-readonly {
    .dt-palette {
      display: none;
    }
    .dt-palette-wrap {
      border: none;
    }
  }
  .el-scrollbar__wrap {
    padding-right: 15px;
    scrollbar-width: none; //firefox
    -ms-overflow-style: none; //IE 10+
    // Chrome
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @import 'palette';
  @import 'node_tpl';
  @import 'workspace';
  @import 'dt_footer';
  @import 'dt_side_bar';
  @import 'override_accordion';
}

* {
  box-sizing: border-box;
}
